<!-- 
<section class="leasing" id="c_leas">
     <div class="container bg-white py-4 ">
      <h1 class="font-weight-bold text-capitalize text-center text-danger" id="comm_p">commercial property</h1>
      <hr class="w-25 mx-auto">
    <div class="row my-4 text-body">
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 ">
      <div class="second card">
        <img src="../assets/images/metropolis.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text"> metro polis tower,gurgaon</p>
        </div>
      </div>
     </div>
      <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
      <div class="second card" >
        <img src="../assets/images/vp.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text">vipul agora,gurgaon</p>
        </div>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
      <div class="second card" >
        <img src="../assets/images/jmd_regent_square.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <p class="card-text">jmd regent square,gurgaon</p>
        </div>
      </div>
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
          <div class="second card">
            <img src="../assets/images/Park-Centra-Building.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">park centra,gurgaon</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
          <div class="second card">
            <img src="../assets/images/Dlf-Star-Mall-Gurgaon.jpeg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text">star tower , gurgaon</p>
            </div>
          </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
          <div class="second card">
            <img src="../assets/images/view.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <p class="card-text"> city court , gurgaon</p>
            </div>
          </div>

    </div>
  </div>
</div>
</section> -->
<!-- commercial property ends -->
<!-- retail property starts -->
<!-- <section class="leasing" id="r_leas">
    <div class="container bg-white py-4 ">
     <h1 class="font-weight-bold text-capitalize text-center text-danger" id="ret_p">retail property</h1>
     <hr class="w-25 mx-auto">
   <div class="row my-4 text-body">
    <div class=" col-lg-6 col-md-6 col-sm-12  col-xs-12 mb-4">
     <div class="second card">
       <img src="../assets/images/starmall.jpg" class="card-img-top" alt="">
       <div class="card-body">
         <p class="card-text"> Starmall, gurgaon </p>
       </div>
     </div>
    </div>
     <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
     <div class="second card" >
       <img src="../assets/images/metropolis.jpg" class="card-img-top" alt="">
       <div class="card-body">
         <p class="card-text"> metropolis mall, gurgaon </p>
       </div>
     </div>
   </div>
   <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
     <div class="second card" >
       <img src="../assets/images/Dlf-Star-Mall-Gurgaon.jpeg" class="card-img-top" alt="">
       <div class="card-body">
         <p class="card-text"> star tower, gurgaon</p>
       </div>
     </div>
   </div>
   <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
         <div class="second card">
           <img src="../assets/images/southpointmall.jpg" class="card-img-top" alt="">
           <div class="card-body">
             <p class="card-text"> south point mall, gurgaon</p>
           </div>
         </div>
    </div>
 </div>
</div>

</section> -->
<!-- retail property ends -->
